:root {
  --title-height: 32px;
  --sidebar-width: 82px;
}

* {
  user-select: none;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#title-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  background-color: transparent;
}

#app {
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#app-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/vanishing-stripes.svg');
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
  pointer-events: none;
}

.draggable {
  -webkit-app-region: drag;
  user-select: none;
  app-region: drag;
  z-index: 65536;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
